/* Обнуление */

* {
  margin: 0;
  padding: 0;
}


html,
body {
  height: 100%;
}




.empty_block{
    height:50px;
}


/* HEADER */

.header {
    height: 160px;
    text-align: right;
    padding-bottom: 0px;
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
    padding-right: 50px;
}


.header li {
    float: left;
    display: flex;
    width: 150px;
    list-style-type: none;
    justify-content: center;
    border-radius: 100px;
    margin-top: 6%;
    box-shadow: 10px 10px 10px grey;
    font-size: 20px;
    font-family: monospace;
}


.header li:hover {
    transition-duration: 0.5s;
    box-shadow: 4px 5px 50px grey;
}


/* LOGO */

.logo img {
    float: left;
    margin-left: 100px;
    background-image: url("/img/ioA6tYaKRbU.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    box-shadow: 0px 0px 0px lightgreen;
}


/* MAIN_MENU */

.main_menu{
    display: flex;
    justify-content: flex-end;
}

.main_menu li {
    weight: 100px;
    height: 30px;
}


.list > li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 30px;
    margin: 0 auto;
    color: darkslategray;
    font-weight: 500;
}


/* MAIN_PAGE */

.wrapper{
    display: flex;
    flex-direction: column;
    weight: 90%;
    height: 100%;
}


.info {
    display: flex;
    margin: 0px auto 0px;
    width: 80%;
    box-shadow: -5px 15px 10px skyblue;
    align-items: center;
    border-radius: 200px;
    font-family: monospace;
}


.names {
    box-shadow: -5px 15px 10px skyblue;
    border-radius: 200px;
    padding: 10px 20px;
    letter-spacing: 3px;
}


.description {
    font-size: 35px;
    margin: 0 auto;
    padding: 0px 0;
    text-align: right;
}


.content{
    width: 50%;
    margin: 0 auto;
    flex: 1 0 auto;
}


.desc {
    width: 100%;
    font-weight: 600;
    color: dodgerblue;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 0px skyblue;
    border-radius: 200px;
}


.desc li {
    margin-bottom: 10px;
    font-style: normal;
    box-shadow: 5px 3px 10px grey;
    font-size: 25px;
    padding: 5px;
    font-family: monospace;
    border-radius: 200px;
    letter-spacing: 2px;
}


ul.checkmark li:before {
    content: "\2713\0020";
    color: forestgreen;
}


ul a {
    text-decoration: none;
    color: mediumaquamarine;
}


.checkmark li:hover {
    transition-duration: 0.1s;
    box-shadow: 0px 12px 10px orange;
}


ul {
    list-style-type: none;
}


.content-section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 auto;
}


.update_info{
    text-align: center;
    width: 300px;
}


.card{
    text-align: center;
    align-items: center;
    width: 300px;
    border :none;
}


.post{
    width: 80%;
    padding: 10px 40px;
    margin: 0 auto;
}


.post_paginate{
    width: 40%;
    text-align: center;
    margin: 0 auto;
}


.account-img{
    width:200px;
    border-radius: 50px;
}


.account-img:active{
    width:500px;
    position: absolute;
    bottom: -400px;
    right: 500px;
    box-shadow: 1px 1px 10px 3px aqua;
}


.font_info{
    font-size: 20px;
    color: blue;
}


.font_update{
    color: orange;
    font-size: 20px;
}


/* LOGIN_FORM */

.login_form{
    height: 0 200px;
    margin: 0 auto;
    margin: 100px 0;
    align-items: center;
    text-align: center;
}

/* FOOTER */

.footer {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-family: monospace;
    flex: 0 0 auto;

}



/* REDESIGN */

.container{
    width: 60%;
    font-family: monospace;
}


.legend {
    font-size: 25px;
    margin-bottom: 20px;
}


.form-post-title{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
}


input[placeholder]{
    padding-left: 10px;
    font-size: 16px;
}


.form-post-textarea{
    width: 100%;
    height: 260px;
    border-radius: 10px;
}

textarea[placeholder]{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 16px;
}


.btn_new_post{
    width: 120px;
    height: 30px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
}


.btn_sign_in{
    width: 120px;
    height: 30px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
}


.btn_log_in{
    width: 120px;
    height: 30px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
}


.btn_reset{
    width: 120px;
    height: 30px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
}


/* Оповещения */
.is-invalid{
    border: 2px solid red;
}


.is-invalid:focus{
    box-shadow: 1px 1px 3px 1px red;
    outline: none;
}


.success{
    background-color: orange;
}